.cosmetics{
    height: 100%;
    background-image: url(../../assets/images/cosmetics.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    list-style-type:none
}