.head{
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 10px 10px whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative; 
}