.navigation {
  font-size: medium;
}
.navigation ul {
  list-style-type: none;
}

.navigation ul li {
  float: left;
}
.navigation ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navigation ul li a:hover {
  background-color: #111111;
}
